@import '../main/colors.scss';

.SetsPane {
  .SetsTitle {
    font-size: x-large;
    padding: 10px;
    font-weight: bolder;
  }
  
  .SetsTable {
    padding: 10px;
    
    .add {
      float: right;
    }
  }
}
