@import '../main/colors.scss';

.SetsPane {
  .SetsTitle {
    font-size: x-large;
    padding: 1em;
    font-weight: bolder;
  }
  
  .SetsTable {
    padding: 1em;
    
    .add {
      float: right;
      margin-top: 1em;
    }
    
    .action-buttons {
       text-align: center;
       width: 8em;
    }
    
    .action-button {
      
    }
    
    .delete-button {
      margin-right: 1em;
    }
    
    .info-button {
      
    }
  }
}
