@import '../main/colors.scss';

.DataPane {
  
  .RecordsPane {
    padding: 1em;
    
    .add {
      float: right;
      margin: 1em;
    }
    
    .action-buttons {
       text-align: center;
       width: 12em;
    }
    
    .action-button {
      margin-right: 1em;
    }
  }
  
  .EditorPane {
    .table {
      
    }
    
    .table-row {
      
    }
    
    .table-cell {
      padding: 0.5em;
      > input {
        width: 60em;
      }
    }
    
    .table-cell-caption {
      
    }
    
    .table-cell-value {
      
    }
  }
}
