@import '../main/colors.scss';

.DataPane {
  
  .RecordsTable {
    padding: 1em;
    
    .add {
      float: right;
      margin: 1em;
    }
    
    .action-buttons {
       text-align: center;
       width: 12em;
    }
    
    .action-button {
      margin-right: 1em;
    }
  }
}
