@import '../main/colors.scss';

.DataPane {
  .TitleSuffix {
    font-style: italic;
    font-weight: lighter;
  }
  
  .DataTable {
    padding: 1em;
    
    .add {
      float: right;
      margin: 1em;
    }
    
    .action-buttons {
       text-align: center;
       width: 12em;
    }
    
    .action-button {
      margin-right: 1em;
    }
  }
  
  .RecordSetsList {
    padding: 1em;
    
    .RecordSets {
      margin-bottom: 1em;
      
      .RecordSet {
        margin-bottom: 0.5em;

        .CheckBox {
          margin-right: 0.5em;
        }
      }
    }
  }
}
