@import '../main/colors.scss';

.Content {
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: top;
  padding: 2em;
  
  .Error {
    background-color: lightgray;
    color: red;
  }
}

