@import '../colors.scss';

.Navi {
  width: 120px;
  height: 100%;
  color: $naviText;
  background-color: $naviBackground;
  text-align: center;
  display: table-cell;
  
  img {
    margin: 20px;
  }
}
