@import '../main/colors.scss';

.Navi {
  width: 120px;
  height: 100%;
  color: $naviText;
  background-color: $naviBackground;
  text-align: center;
  display: table-cell;
  
  img {
    margin: 20px;
    cursor: pointer;
    border: solid transparent 4px;
    border-radius: 15px;
    transition: 0.5s;
  }
  
  img:hover {
    transform: scale(1.2, 1.2);
  }
  
  .selected {
    border: solid $iconBorder 4px;
  }
}
