@import '../colors.scss';

.Stage {
  color: $stageText;
  background-color: $stageBackground;
  width: 100%;
  height: 100%;
  display: table-row;
  
  .Stage-table {
    display: table;
    height: 100%;
    width: 100%;
  }
}
