@import './colors.scss';

body, html, #root, .App {
  height: 100%;
  margin: 0px;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  display: table;
  width: 100%;
  
  .Title {
    font-size: x-large;
    padding: 1em;
    font-weight: bolder;
  }
}
